# OpenAI
export OPENAI_API_KEY="openai-API-key"
export OPENAI_ORG_KEY="openai-org-key"

# Pinecone
export PINECONE_API_KEY="pinecone-api-key"
export PINECONE_ENVIRONMENT="us-west1-gcp"

if [ -f .envrc-personal ]
then
  source_env .envrc-personal
fi
